<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Groups Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h2>Create a New Group</h2>
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Group Name</ion-label>
        <ion-input type="text" formControlName="groupName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Group Description</ion-label>
        <ion-textarea formControlName="groupDescription"></ion-textarea>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="groupForm.invalid">Create Group</ion-button>
    </form>
  </div>

  <div class="ion-padding">
    <h2>Groups</h2>
    <ion-list>
      <ion-item *ngFor="let group of groups">
        <ion-label>{{ group.groupName }}</ion-label>
        <ion-button fill="outline" slot="end" (click)="joinGroup(group)">Join</ion-button>
        <!-- Add this inside your *ngFor loop for displaying groups -->
        <button (click)="deleteGroup(group.id)">Delete Group</button>

      </ion-item>
    </ion-list>
  </div>
</ion-content>
