<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="goToHomePage()" ></ion-back-button>
    </ion-buttons>
    <ion-title>Groups Page</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h2>Create a New Group</h2>
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Group Name</ion-label>
        <ion-input type="text" formControlName="groupName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Group Description</ion-label>
        <ion-textarea formControlName="groupDescription"></ion-textarea>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="groupForm.invalid">Create Group</ion-button>
    </form>
  </div>

  
<div class="ion-padding">
  <ion-searchbar (ionChange)="filterGroups($event)"></ion-searchbar>
</div>

<!-- Conditionally display the list of groups -->
<!-- Search Results -->
<div class="ion-padding" *ngIf="searchPerformed">
  <h2>Search Results</h2>
  <ion-list *ngIf="groups.length > 0; else noGroupsFound">
    <ion-item *ngFor="let group of groups">
      <ion-label>
        <h3>{{ group.groupName }}</h3>
        <p>{{ group.groupDescription }}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="joinGroup(group)">Join</ion-button>
    </ion-item>
  </ion-list>
  <ng-template #noGroupsFound>
    <ion-text>No groups found.</ion-text>
  </ng-template>
</div>

<!-- My Groups -->
<div class="ion-padding">
  <h2>My Groups</h2>
  <ion-list>
    <ion-item *ngFor="let group of userGroups" (click)="goToGroupPage(group)">
      <ion-label>
        <h3>{{ group.groupName }}</h3>
        <p>{{ group.groupDescription }}</p>
      </ion-label>
      <ion-button  fill="outline" slot="end" (click)="deleteGroup(group)">
        <ion-icon name="trash-outline"></ion-icon>Delete
      </ion-button>
      
      
    </ion-item>
  </ion-list>
</div>

</ion-content>
