<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content>

  
  <ng-container *ngIf="(userProfileData$ | async) as userProfiles">
    <ng-container *ngIf="showProfileData">
      <ion-card *ngFor="let profile of userProfiles">
        <ion-grid>
          
          <!-- Profile Picture Section -->
          <ion-row>
            <ion-col size="12" class="profile-picture">
              <ion-avatar style="display: inline-block; margin-top: 10px;">
                <img src="{{profile['picture']}}" alt="Profile Picture" *ngIf="profile['picture']">
              </ion-avatar>
            </ion-col>
          </ion-row>
          
          <!-- Email Section -->
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-card-header>
                <ion-card-title>{{ profile['name'] }}</ion-card-title>
              </ion-card-header>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col size="12" class="ion-text-center bold-large-text ">
              <div> {{ user?.email }}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-text-center bold-large-text">
              <div>{{ profile['age'] }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-button expand="block" fill="outline" onclick="document.getElementById('fileInput').click()">
            Upload Picture
          </ion-button>
          <input id="fileInput" type="file" (change)="onFileChanged($event)" accept="image/*" style="display: none;">
        </ion-item>
      </ion-card>
      
    </ng-container>
  </ng-container>


  

<ion-content>

  <ng-container *ngIf="userProfileData$ | async as userProfiles">
    <!-- Button to toggle the visibility of the form -->
    <ion-button expand="full" (click)="toggleForm()">
      {{ showForm ? 'Hide Form' : 'Show Form' }}
    </ion-button>
  
    <!-- Form is shown only if showForm is true -->
    <ion-card *ngIf="showForm">
      <form [formGroup]="profileForm">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input formControlName="email" [value]="user?.email" readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Name:</ion-label>
              <ion-input formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="auto">
            <ion-button icon-only (click)="onUpdate('name')">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Age: </ion-label>
              <ion-input formControlName="age"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="auto">
            <ion-button icon-only (click)="onUpdate('age')">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
  
      </form>
    </ion-card>
  </ng-container>

</ion-content>

 
</ion-content>

<!-- <ng-container *ngIf="userProfileData$ | async as userProfiles">
  <ion-button *ngIf="userProfiles.length" expand="full" (click)="showProfileData = !showProfileData">
    {{ showProfileData ? 'Hide Profile Data' : 'Show Profile Data' }}
  </ion-button>

  <ng-container *ngIf="showProfileData">
   
    <ion-card *ngFor="let profile of userProfiles">
      <ion-card-header>
        <ion-card-title>Email: {{ user?.email }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      
        <div>
          <ion-label>Name: {{ profile['name'] }}</ion-label>
        </div>
        <div>
          <ion-label>Age: {{ profile['age'] }}</ion-label>
        </div>
        <div>
          <ion-label>Phone Number: {{ profile['phoneNumber'] }}</ion-label>
        </div>
        <div>
          <ion-label>Address: {{ profile['address'] }}</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ng-container>


<ion-content>
  <form [formGroup]="profileForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" [value]="user?.email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
      <ion-button type="button" expand="full" (click)="onUpdate('name')">Update Name</ion-button>
      <ion-button type="button" expand="full" (click)="onDelete('name')">Delete Name</ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input formControlName="age"></ion-input>
      <ion-button type="button" expand="full" (click)="onUpdate('age')">Update Age</ion-button>
      <ion-button type="button" expand="full" (click)="onDelete('age')">Delete Age</ion-button>

    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input formControlName="phoneNumber"></ion-input>
      <ion-button type="button" expand="full" (click)="onUpdate('phoneNumber')">Update Number</ion-button>
      <ion-button type="button" expand="full" (click)="onDelete('phoneNumber')">Delete Number</ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input formControlName="address"></ion-input>
      <ion-button type="button"  (click)="onUpdate('address')">Update Address</ion-button>
      <ion-button type="button"  (click)="onDelete('address')">Delete Address</ion-button>
    </ion-item>

  
    <ion-button type="submit" expand="full" (click)="onSave()">Save Profile</ion-button>

   
  </form> -->


  

