.bold-large-text {
    font-weight: bold;
    font-size: 1.2em; /* or any other size you prefer */
  }


  .profile-pic-section {
    position: relative;
  }
  
  .upload-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    --button-color: rgba(0, 0, 0, 0.7); /* Adjust color as needed */
  }
  
  .email-title,
  .name-title,
  .age-title {
    margin: 0;
    padding: 5px;
    text-align: center;
  }
  
  .name-title {
    font-weight: bold;
    font-size: 1.2em; /* Adjust size as needed */
  }
  
  .age-title {
    font-size: 1em; /* Adjust size as needed */
  }
  
  
 