
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/groups-page">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Groups</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/run-tracker">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Map Runs</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/gym-workouts">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Workouts</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/messaging">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/profile">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

