<div id="authenticator">
  <mat-card id="authenticator-content">
    <mat-card-header>
      <mat-card-title>{{getStateText()}}</mat-card-title>
    </mat-card-header>
    <form [formGroup]="credentials">
    <div *ngIf="isLoginState()">
      <input placeholder="email" formControlName="email"/>
      <input placeholder="password" type="password" formControlName="password">
      <button (click)="login()" mat-raised-button color="primary">Login</button>
    </div>
    <div *ngIf="isRegisterState()">
      <input placeholder="email" formControlName="email">
      <input placeholder="password" type="password" formControlName="password">
      <button (click)="register()" mat-raised-button color="primary">Create</button>
    </div>
    <div *ngIf="isForgotPasswordState()">
      <input placeholder="email" formControlName="email">
      <button (click)="sendReset( )" mat-raised-button color="primary">Reset</button>
    </div>
    </form>
    <mat-card-actions align="end">
      <button (click)="forgotPassword()" mat-raised-button>Forgot Password</button>
      <button (click)="createAccount()" mat-raised-button>Create An Account</button>
      <button (click)="loginState()" mat-raised-button>Login</button>
    </mat-card-actions>
  </mat-card>
</div>
