<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button  (click)="navigateToGroupDetail(groupId)">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>mediaFiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mediaFiles</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="upload-container">
    <input type="file" (change)="uploadFile($event)" accept="video/*" />
  </div>

  <div *ngFor="let video of videos">
    <video controls [src]="video.url" width="320" height="240"></video>
    <p>{{ video.name }}</p>
  </div>

  <div class="folder-container">
    <ng-container *ngFor="let type of getObjectKeys(groupedFiles)">
      <div class="folder-heading">{{ type | titlecase }}</div>
      <div *ngFor="let file of groupedFiles[type]" class="file-item">
        <ng-container *ngIf="file.type === 'video'; else nonVideoFiles">
          <!-- Display a video player for video files -->
          <video controls [src]="file.url" width="320" height="240"></video>
        </ng-container>
        <ng-template #nonVideoFiles>
          <!-- Display a link for non-video files -->
          <a [href]="file.url" target="_blank">{{ file.name }}</a>
        </ng-template>
      </div>
    </ng-container>
  </div>

    <!-- Display a message if no files are present -->
    <div *ngIf="!(groupedFiles && getObjectKeys(groupedFiles).length > 0)">
      <p>No files to display.</p>
    </div>
  
</ion-content>
