<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="logout" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-feed></app-feed>
  <!-- <ion-button (click)="onCreatePostClick()" id="post-button">
    <ion-icon name="chevron-forward-circle-outline"></ion-icon>
  </ion-button> -->
  
</ion-content>

<app-tabs></app-tabs>
