<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button routerLink="/messaging">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Group Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Progress Bar appears when isSending is true -->
  <ion-progress-bar *ngIf="isSending" type="indeterminate" value="1.0"></ion-progress-bar>
  <ion-list>
    <!-- Loop over messages and apply different classes based on the sender -->
    <ion-item *ngFor="let message of messages" [class.current-user]="message.sender === currentUserId" [class.other-user]="message.sender !== currentUserId">
      <div class="message-container">
        <!-- Use ion-label only if necessary for Ionic components -->
        <div class="message-content">
          <p>{{ message.content }}</p>
        </div>
        <div class="sender-name">{{ message.senderName }}</div>
        <div class="message-timestamp">{{ convertTimestampToDate(message.timestamp) | date:'short' }}</div>
    </div>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="message-input" [(ngModel)]="newMessageContent" placeholder="Type a message..."></ion-input>
      <ion-button class="send-button" (click)="sendMessage()">Send</ion-button> 
    </ion-item>
  </ion-toolbar>
</ion-footer>
