<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  


<!-- Updated list to open conversations 
<ion-item>
  <ion-label>Select a user:</ion-label>
  <ion-select interface="action-sheet" [(ngModel)]="selectedUser">
    <ion-select-option *ngFor="let user of users$ | async" [value]="user">{{ user.name }}</ion-select-option>
  </ion-select>
</ion-item>
<ion-button (click)="startConversation()">Start Conversation</ion-button>-->


  <!-- Conversation view -->
  <div *ngIf="currentConversationId">
    <div *ngFor="let message of messages | async">
      <p [ngClass]="{'current-user': message.sender === currentUserId, 'other-user': message.sender !== currentUserId}">
        {{ message.content }}
      </p>
    </div>
    <input type="text" [(ngModel)]="newMessage">
    <button (click)="sendMessage(newMessage)">Send</button>
  </div>

<!-- In MessagingPage template -->
<app-messaging-interface
  *ngIf="currentConversationId"
  [messages]="messages | async" 
  [currentUserId]="currentUserId"
  (messageSend)="sendMessage($event)"> <!-- Bind to sendMessage method -->
</app-messaging-interface>

<div class="ion-padding">
  <h2>My Group Chats</h2>
  <ion-list>
    <ion-item *ngFor="let group of groups" (click)="openGroupChat(group)">
      <ion-label>{{ group.groupName }}</ion-label>
      <ion-note slot="end">{{ group.lastMessage }}</ion-note>
    </ion-item>
  </ion-list>
</div> 



    
  
    <!--  
    <ion-list>
      <ion-item *ngFor="let user of users$ | async" (click)="openConversationWithUser(user)">
        <ion-label>
          <h2>{{ user.name }}</h2>
        </ion-label>
      </ion-item>
    </ion-list> -->
  
    <!-- Conversation view 
    <div *ngIf="currentConversationId">a
      <div *ngFor="let message of messages | async">
        <p>{{ message.sender }}: {{ message.content }}</p>
      </div>
      <input type="text" [(ngModel)]="newMessage">
      <button (click)="send()">Send</button>
    </div>
  </ion-content> 
  

  <div *ngFor="let message of messages | async">
    <p>{{ message.sender }}: {{ message.content }}</p>
  </div>
   Use 'newMessage' if that's the name of the property in your class 
<input type="text" [(ngModel)]="newMessage">
<button (click)="send()">Send</button>-->






  
  
  
</ion-content>
